%h1 Listing teachers

%table
  %tr
    %th First name
    %th Last name
    %th
    %th
    %th

  - @teachers.each do |teacher|
    %tr
      %td= teacher.first_name
      %td= teacher.last_name
      %td= link_to 'Show', teacher
      %td= link_to 'Edit', edit_teacher_path(teacher)
      %td= link_to 'Destroy', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher', new_teacher_path
